*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;

}

.Center{

max-width: 960px;
margin: 0 auto;
padding: 0 2%;
display: flex;
flex-wrap: wrap;

}

.Main{

	padding: 40px 0;
	width: 100%;
	background-color: blueviolet;
	min-height: 400px;
}

.Menu{
	
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Menu h3{
	color: white;

}

.Menu a{
	color: white;
	text-decoration: none;
	border: 1px solid white;
	padding: 3px 5px;
border-radius: 8px;

}
.form{
	display: flex;
	width: 100%;
	margin-top: 50px;
	max-width: 600px;
	margin: 10px;
	text-align: center;

}
.form input[type]{
	width: 50%;
	height: 30px;
	margin: 8px 0;
}
.conteudo-single{

margin-top: 40px;
width: 50%;
padding: 8px 30px;


}
@media screen and (max-width: 768px){
	.item-form input(type-text){
		width: 100%;
	}
	.conteudo-single{width: 100%};
}